:root {
  /* --background-color: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  --background-color: rgb(37, 34, 34);
  --message-bubble-color: rgb(143, 147, 199);
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

* {
  box-sizing: border-box;
}
