.SettingsForm {
  position: relative;
  width: 90%;
  max-width: 1290px;
  margin: 50px auto;
  padding: 1rem;
  background: var(--background-color);
}

@media print {
  .SettingsForm {
    display: none;
  }
}
